//
//  Secrets.xcconfig
//  TwitterSentimentAnalysisApp
//
//  Created by Alekhya Gandu on 5/3/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//Twitter Keys:
API_KEY = fFLdQ8qHiSOoY0ZlOhiVmfFEe

API_SECRET_KEY = igXKDWCv5MyQW79IWAAMU9UhYIyALFlytL5FfKeFrO7tJUsDxD

BEARER_TOKEN = AAAAAAAAAAAAAAAAAAAAAAHAbQEAAAAAuEhR0KqyHdkFxBlXiC2oJYsU0zo%3DJxeVuBodjfVHVsQUgyW1tEgqu3KzQ2Ai1OQWc2FyjHJPMs9MYj



//Google Key
GOOGLE_API_KEY = AIzaSyCxDzPHwobU07ejTjhb5v3F1asQuk8kTGk
